@model deploy2.org.com.Classes.DeployModel
@{
    Layout = null;
}


    <div class="form">

        <div class="form-element form-element_readonly form-element_stacked">
            <span class="form-element_label">Component Name</span>
            <div class="form-element_control">
                <div class="form-element_static">@Model.configurationModel.ComponentName</div>
            </div>
            @*<div class="form-element_error">This field is required</div>*@
        </div>

        <div class="form-element form-element_readonly form-element_stacked">
            <span class="form-element_label">API Version</span>
            <div class="form-element_control">
                <div class="form-element_static">@Model.configurationModel.APIVersion</div>
            </div>
            @*<div class="form-element_error">This field is required</div>*@
        </div>

        @foreach (string className in Model.configurationFile.apex_class)
        {
            <div class="form-element form-element_readonly form-element_stacked">
                <span class="form-element_label">Apex Class</span>
                <div class="form-element_control">
                    <div class="form-element_static">@className</div>
                </div>
                @if (!Model.configurationModel.ApexClass.Any(A => A != null && A.name == className))
                {
                    <div class="form-element_error">Couldn't retrieve the file.</div>
                }
            </div>
        }
        @if (Model.configurationFile.bundle_details != null)
        {
            @if (!string.IsNullOrEmpty(Model.configurationFile.bundle_details.component))
            {
                <div class="form-element form-element_readonly form-element_stacked">
                    <span class="form-element_label">Component</span>
                    <div class="form-element_control">
                        <div class="form-element_static">@Model.configurationFile.bundle_details.component</div>
                    </div>
                    @if (Model.configurationModel.Component == null)
                    {
                        <div class="form-element_error">Couldn't retrieve the file.</div>
                    }
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.configurationFile.bundle_details.controller))
            {
                <div class="form-element form-element_readonly form-element_stacked">
                    <span class="form-element_label">Controller</span>
                    <div class="form-element_control">
                        <div class="form-element_static">@Model.configurationFile.bundle_details.component</div>
                    </div>
                    @if (Model.configurationModel.Component == null)
                    {
                        <div class="form-element_error">Couldn't retrieve the file.</div>
                    }
                </div>
                <div class="form-element form-element_readonly form-element_stacked">
                    <span class="form-element_label">Controller</span>
                    <div class="form-element_control">
                        <div class="form-element_static">@Model.configurationFile.bundle_details.controller</div>
                    </div>
                    @if (Model.configurationModel.Controller == null)
                    {
                        <div class="form-element_error">Couldn't retrieve the file.</div>
                    }
                </div>
            }
        }

    </div>
